<div ng-controller="EntitiesCtrl">
    <div>
        <h1>Entities</h1>
        <label for="search">Search</label>
        <input type="text" id="search" ng-model="search" />
        <a href="./#/addEntity/{{moduleId}}" class="btn btn-default">
            Add new entity
        </a>
    </div>

    <ul class="index">
        <li ng-repeat="letter in alphabet"><a href="" ng-click="scrollTo(letter)">{{letter}}</a></li>
    </ul>

    <div ng-repeat="letter in groupedEntities">
        <a id="{{letter[0][0].name[0].toUpperCase()}}"></a>
        <h1>{{letter[0][0].name[0].toUpperCase()}}</h1>
        <div class="row" ng-repeat="row in letter">
            <div class="col-md-2" ng-repeat="entity in row|filter: {name: search}">
                <a href="./#/fields/{{year}}/{{moduleId}}/{{entity.id}}">{{entity.name}}</a>
            </div>
        </div>
    </div>
</div>