<!DOCTYPE html>
<html ng-app="museApp">
<head>
    <title>Test</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/harmony.css" rel="stylesheet" type="text/css" />
    <link href="css/index.css" rel="stylesheet" type="text/css" />

    <script src="js/lib/jquery-2.1.0.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/services/routing.js"></script>
    <script src="js/services/data.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="ModuleCtrl">
<header class="header">
    <div class="nano overthrow navigation-content">
        <div class="navigation-inner" tabindex="0">
            <!--hgroup>
                <div class="home-link"><a href="http://harmony.intuit.com/" title="Harmony Toolkit"><i class="icon-home"></i></a></div><div class="nav-toggle"><a href="#"><i class="icon-reorder"></i></a></div><div class="search-toggle"><a href="#"><i class="icon-search"></i></a></div>
            </hgroup-->

            <form action="http://harmony.intuit.com/" class="search-form" style="display: none;">
                <fieldset>
                    <input type="text" class="search-form-input text" name="s" onfocus="if (this.value == 'Search the toolkit') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search the toolkit';}" value="Search the toolkit">
                    <input type="submit" value="Search" class="submit search-button">
                </fieldset>
            </form>
            <nav>
                <div class="menu-primary-container">
                    <ul id="menu-primary" class="nav">
                        <li class="year menu-item menu-item-type-post_type menu-item-object-page" ng-click="selectMenuItem('year')" ng-class="{'current-menu-item': selectedMenuItem == 'year'}">
                            <a href="" >{{selectedYear.calendarYear}}</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page" ng-repeat="year in years"><a href="./" ng-click="selectYear(year.calendarYear)">{{year.calendarYear}}</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page" ng-repeat="module in modules" ng-click="selectMenuItem(module.id)" ng-class="{'current-menu-item': selectedMenuItem == module.id}">
                            <a href="./#/module/{{selectedYear.calendarYear}}/{{module.id}}">{{module.module}}</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
        <div class="pane" style="display: block;"><div class="slider" style="height: 301px; top: 2.1676646706586826px;"></div></div></div>
</header>

<div id="wrapper">
    <article class="post-8 framework type-framework status-publish hentry category-visual post">
        <section class="small-box clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h1>Tax Modeler</h1>
                    <h2 ng-show="selectedModule">{{selectedModule.module}} {{selectedYear.calendarYear}}</h2>
                </div>
            </div>
            <div class="row" ng-show="selectedEntity">
                <div class="col-md-3">
                    <h2>{{selectedEntity.name}}</h2>
                    <a href="./#/updateEntity/{{selectedEntity.id}}" class="btn btn-default">Update {{selectedEntity.name}}</a>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                        {{selectedEntity.description}}
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </section>
    </article>
    <article class="post-17 page type-page status-publish hentry post">
        <div class="small-box clearfix" ng-view>
            <p>Welcome to the Tax Modeler. Please select a year and a tax module to update.</p>
        </div>
    </article>
</div>
</body>
</html>